$hundred: 100%;
$colormain: darkkhaki;

ol,
ul {
  list-style: none;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.main {
  width: $hundred;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: gainsboro;
  .news {
    text-align: center;
    height: 200px;
    line-height: 100px;
    display: inline-block;
  }
}

html,
body {
  height: $hundred;
  width: $hundred;
}

.photohotel {
  height: $hundred * 0.7;
  width: $hundred * 0.7;
}

.slider {
  overflow: hidden;
  width: $hundred;
  background-color: gainsboro;
  > ul > li > div {
    position: absolute;
    top: 10px;
    left: 10px;
    height: $hundred * 0.9;
    width: $hundred * 0.9;
    background-color: white;
  }

  > ul > li > img {
    height: $hundred * 0.6;
    width: $hundred * 0.7;
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 100;
  }

  > ul {
    width: $hundred * 10;
    min-height: 650px;
    > li {
      display: inline-block;
      height: 500px;
      width: 300px;
      margin: 50px;
      background-color: gainsboro;
      position: relative;
    }
  }
}

.top {
  width: $hundred;
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}

.rooms {
  margin-top: 50px;
  min-height: 1100px;
  > div {
    width: $hundred;
    > .six {
      float: left;
      width: $hundred * 0.58;

      display: flex;
      justify-content: center;
      height: 400px;
    }
    > .four {
      float: left;
      width: $hundred * 0.38;
      height: 400px;
    }
  }
}

.foot {
  background-color: lightslategrey;
  height: 420px;
  width: $hundred;
  display: flex;
  align-items: center;
  justify-content: space-around;
  > div {
    display: inline-block;
  }
}

.touch > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 30px;
  > li {
    display: inline-block;
  }
}

hr {
  margin-top: 350px;
}

.images {
  display: flex;
  align-items: flex-start;
  transition: transform 1s;
}

.btns {
  display: flex;
  justify-content: center;
  > div {
    background: gray;
    border-radius: $hundred * 0.5;
    height: 13px;
    width: 13px;
    margin: 20px;
  }
}

li.images {
  display: none;
}

li,
.six {
  overflow: hidden;
  img {
    transform: scale(1, 1);
    transition: all 1s ease-out;
    &:hover {
      transform: scale(1.3, 1.3);
    }
  }
}

h2:hover {
  color: rgb(78, 70, 70);
}

.fa-facebook-f:hover {
  color: blue;
}
.fa-youtube:hover {
  color: red;
}
.fa-twitter-square:hover {
  color: green;
}
.fa-instagram:hover {
  color: purple;
}
.fa-pen:hover {
  color: yellow;
}

.bar {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: gainsboro;
  height: 60px;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

.logo,
.menu {
  display: inline-block;
  background-color: $colormain;
  color: cornsilk;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.logo img {
  width: 60px;
  height: 60px;
  transform: scale(0.8);
}

.menu {
  position: absolute;
  right: 0px;
  height: 60px;
  i {
    width: 60px;
    height: $hundred;
    font-size: 20px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    transition: font-size 0.5s ease-in;
    &:hover {
      font-size: 30px;
    }
  }
}

.table {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: $hundred;
  z-index: 1000;
  position: fixed;
  display: none;
  &.new {
    display: block;
  }
}

.check {
  width: 860px;

  height: 550px;
  margin: 0 auto;
}

.lists {
  overflow: hidden;
  display: inline-block;
  width: 150px;
  height: 450px;
  background-color: rgb(226, 226, 186);
  animation: flips 1s 1;
  position: relative;
  &:hover {
    background-color: green;
  }
  &.add {
    overflow: hidden;
    display: inline-block;
    width: 150px;
    height: 450px;
    background-color: rgb(226, 226, 186);
    animation: vanish 1s 1 both;
    animation-delay: 1.5s;
  }
}

.buttons {
  width: $hundred;
  height: $hundred * 0.4;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.topButton,
.bottomButton {
  width: $hundred * 0.6;
  border: 0;
  color: darkred;
}

.rightpage:hover,
.leftpage:hover {
  background-color: yellow;
  opacity: 1;
}

.leftpage ul,
.rightpage ul {
  height: $hundred;
  li {
    line-height: 80px;
    font-family: STHeiti;
    a {
      color: $colormain;
    }
  }
}

.lists img {
  position: absolute;
  left: -35px;
  transform: scale(0.5);
}

@keyframes flips {
  0% {
    height: 0px;
  }
  50% {
    height: 225px;
  }
  100% {
    height: 450px;
  }
}

.rightpage {
  &.add {
    overflow: hidden;
    display: inline-block;
    transform-origin: left;
    width: 350px;
    height: 450px;
    transform: rotateY(0deg);
    background-color: rgb(226, 226, 186);
    animation: disappear 1s 1 both;
  }

  overflow: hidden;
  display: inline-block;
  transform-origin: left;
  width: 350px;
  height: 450px;
  transform: rotateY(90deg);
  background-color: rgb(226, 226, 186);
  animation: flip 1s 1 both;
  animation-delay: 1s;
  text-align: center;
  i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    transform: rotate(0deg);
    transition: transform 1s;
    background-color: darkkhaki;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    &:hover {
      transform: rotate(180deg);
    }
  }
}

.leftpage {
  &.add {
    overflow: hidden;
    display: inline-block;
    transform-origin: right;
    width: 350px;
    height: 450px;
    transform: rotateY(0deg);
    background-color: rgb(226, 226, 186);
    animation: disappear 1s 1 both;
  }
  overflow: hidden;
  display: inline-block;
  transform-origin: right;
  width: 350px;
  height: 450px;
  transform: rotateY(90deg);
  background-color: rgb(226, 226, 186);
  animation: flip 1s 1 both;
  animation-delay: 1s;
  text-align: center;
}

@keyframes vanish {
  0% {
    height: 450px;
  }
  50% {
    height: 225px;
  }
  100% {
    height: 0px;
  }
}

@keyframes disappear {
  12.5% {
    -webkit-transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(12.5deg);
  }
  37.5% {
    -webkit-transform: rotateY(25deg);
  }
  50% {
    -webkit-transform: rotateY(37.5deg);
  }
  62.5% {
    -webkit-transform: rotateY(50deg);
  }
  75% {
    -webkit-transform: rotateY(62.5deg);
  }
  87.5% {
    -webkit-transform: rotateY(75deg);
  }
  100% {
    -webkit-transform: rotateY(90deg);
  }
}

@keyframes flip {
  25% {
    -webkit-transform: rotateY(75deg);
  }
  37.5% {
    -webkit-transform: rotateY(62.5deg);
  }
  50% {
    -webkit-transform: rotateY(50deg);
  }
  62.5% {
    -webkit-transform: rotateY(37.5deg);
  }
  75% {
    -webkit-transform: rotateY(25deg);
  }
  87.5% {
    -webkit-transform: rotateY(12.5deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
  }
}
